<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Voter</span>

    <span class="empty-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field class="full-width">
    <input matInput placeholder="Search.." [matAutocomplete]="auto" [formControl]="searchingWeapon">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWeaponName">
      <mat-option *ngFor="let weapon of (filteredWeaponList | async)" [value]="weapon">

        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile [colspan]="2">
            <div style="position: absolute; left: 5px;">{{ weapon.name }}</div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1">
            <div style="position: absolute; right: 5px;">{{ wTypeDataService.wtypes[weapon.type - 1].name }}</div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1">
            <div style="position: absolute; right: 5px;">{{ wClassDataService.wclass[weapon.class - 1].name }}</div>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color:lightblue">
      one
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2" style="background-color:lightgreen">
      two
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color:lightpink">
      three
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>