<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Voter</span>

    <span class="empty-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<md-content class="md-padding" layout-md="column" layout="row" layout-align="center center">

  <div flex-lg flex-gt-lg="40" layout="column" layout-align="center center">

    <mat-card class="half-screen">
      <mat-form-field class="full-width">
        <mat-card-header>
          <input matInput placeholder="Search.." [matAutocomplete]="auto" [formControl]="searchingWeapon" [(ngModel)]="selectedWeapon" [ngModelOptions]="{ updateOn: 'blur' }">

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWeaponName">
            <mat-option *ngFor="let weapon of (filteredWeaponList | async)" [value]="weapon">

              <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="2">
                  <div style="position: absolute; left: 5px;">{{ weapon.name }}</div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1">
                  <div style="position: absolute; right: 5px;">{{ wTypeDataService.wtypes[weapon.type - 1].name }}</div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1">
                  <div style="position: absolute; right: 5px;">{{ wClassDataService.wclass[weapon.class - 1].name }}</div>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-option>
          </mat-autocomplete>
        </mat-card-header>
      </mat-form-field>

      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile [colspan]="2" [rowspan]="4" style="background-color:lightblue">
            <span *ngIf="selectedWeapon !== undefined; else emptyImageBlock">
              {{ selectedWeapon.image }}
            </span>
            <ng-template #emptyImageBlock>Image</ng-template>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color:lightgreen">
            <span *ngIf="selectedWeapon !== undefined; else emptyBlock">
              {{ getWeaponTypeName(selectedWeapon) }}
            </span>
            <ng-template #emptyBlock>-</ng-template>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color:lightgreen">
            <span *ngIf="selectedWeapon !== undefined; else emptyBlock">
              {{ getWeaponClassName(selectedWeapon) }}
            </span>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color:lightpink">
            <span *ngIf="selectedWeapon !== undefined; else emptyBlock">
              {{ selectedWeapon.disposition }}
            </span>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color:lightpink">
            <span *ngIf="selectedWeapon !== undefined; else emptyBlock">
              {{ selectedWeapon.mastery }}
            </span>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>


      <mat-card-actions layout="row" layout-align="center">
        <div flex-lg flex-gt-lg="40" layout="row" layout-align="center center">
          <button mat-raised-button class="width-50" color="warn">MR-fodder</button>
          <button mat-raised-button class="width-50" color="primary">Build it!</button>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>

</md-content>